body
{
    background-color: #fff;
}
nav>h1
{
    font-family: Agency FB;
    color: greenyellow;
}
.sidebar
{
    background-color:rgba(0,0,0,.0);
    box-shadow: inset -2px 0 rgba(0,0,0,.25);
}

.nt-row
{
    margin: 0 !important;
    margin-top: 10px !important;
}
a>button
{
    width: 100%;
    padding: 5px;
    margin-top: 5px !important;
}
#me-main
{
    width:80%;
    margin:10%;
}
@media(max-width:768px)
{
    .sidebar
    {
        display:none;
    }
}
@media(min-width:768px)
{
    #navbarToggleExternalContent
    {
        display:none;
	padding:5%;
    }
}
form
{
    margin-left:20%;
    margin-right:20%;
    margin-top:2%;
    border-radius: 20px;
    background-color: #f2f2f2;
    padding:2%
}
#output
{
    height:100%;
}